*{
    padding: none;
    margin: none;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: helvetica;
    padding: 40px;
}
#result{
    width: 90vw;
    height: 100%;
    background-color: green; 

}