*{
    padding: none;
    margin: none;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: helvetica;
    padding: 40px;
    display: flex;
}
#sound-section, #hand-section{
    border: solid 0.3px greenyellow;
    margin: 10px;
    width: 100%;
    padding: 20px;
}
#result{
    height: 100%;

}

canvas{
    width: 100%;
}